<div class="outerbody">
    <nb-card class="card-size">
        <nb-card-body class="example-items-col">

            <form  (ngSubmit)="changePass()">

            <input type="text" nbInput fullWidth status="basic"  [(ngModel)]="pass.oldpassword" name="oldpassword" placeholder="Old password">
            <input type="text" nbInput fullWidth status="basic"   [(ngModel)]="pass.newpassword" name="newpassword" placeholder="New Password">
            <input type="text" nbInput fullWidth status="basic" [(ngModel)]="pass.email" placeholder="Email" name="email">
            <button mat-stroked-button color="accent" class="btn-block" type="submit"
               class="btn btn-success">Submit</button>
        </form>
        </nb-card-body>
    </nb-card>
</div>